Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-Bcrypt
waitress
requests
SQLAlchemy
python-crontab
gTTS
psutil
pulsectl
pyalsaaudio
pathlib

# Raspberry Pi / LED (install only on Pi hardware)
# rpi_ws281x
# adafruit-circuitpython-neopixel
# adafruit-blinka
