{% extends "base.html" %}
{% block content %}
  <body onload="addButton()">
    <div>
      <h1>Music Scene Table</h1>
      <h2><label style="display: inline-block; margin-left: 10px;" for="campaignDropdown">Filter By Scene:</label>
          <select id="editSceneDropdown" onchange="sceneFilterChange()" style="display: inline-block; margin-left: 10px;">
          <option value="0">All</option>
          {% for scene in scenes %}
            {% if scene[0] == sceneFilter %}
              <option selected value="{{scene[0]}}">{{scene[1]}}</option>
            {% 	else %}
              <option value="{{scene[0]}}">{{scene[1]}}</option>
            {% endif %}
          {% endfor %}
          </select>
        </h2>
      <hr>
      <div id="table"></div>
    </div>
    <script>
      const tableDiv = document.getElementById('table');
      function addButton() {
      // Select the element next to which the button should be added
          var element = document.querySelector("div.gridjs-search");

      // Create a new button element
          var button = document.createElement("input");
          button.textContent = "Click me";
          button.className = "btn btn-primary";
          button.setAttribute("type","submit") 
          button.setAttribute("value","Add New Row")
          button.style = "float: right; margin-right: 100px";
          button.onclick = function() {
              //alert("Button clicked!");
              fetch('/api/musicSceneaddrow', {
              method: 'GET',
              headers: {'Content-Type': 'application/json'},
              });
              window.location.reload();
          }
          element.parentNode.insertBefore(button, element.nextSibling);
      }
      class Dropdown {
          constructor() {
              this.items = [];
          }
          // Method to add an item with an ID to the dropdown list
          addItem(id, item) {
              this.items.push({ id, item });
          }
          // Method to retrieve the list of items in the dropdown
          getItems() {
              return this.items;
          }
          //Method to populate the dropdown element
          populateDropdown(dropdownElement) {
              //const dropdownElement = document.getElementById(dropdownElementId);
              if (!dropdownElement) {
                  console.error(`Element with id ${dropdownElementId} not found.`);
                  return;
              }

              // Clear existing options
              dropdownElement.innerHTML = '';

              // Add new options
              this.items.forEach(({ id, item }) => {
                  const option = document.createElement('option');
                  option.value = id;
                  option.textContent = item;
                  dropdownElement.appendChild(option);
              });
          }
      }

      const sceneDD = new Dropdown
      fetch('/api/scenes')
      .then(response => response.json())
      .then(data => {
        sceneDD.addItem(0, '')
        for (const item of data.data) {
          sceneDD.addItem(item.scene_ID, item.sceneName)
        }
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });

      const songDD = new Dropdown
      fetch('api/music')
      .then(response => response.json())
      .then(data => {
        songDD.addItem(0, '')
        for (const item of data.data) {
          songDD.addItem(item.song_ID, item.song)
        }
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });

      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };
      // cid  name           type     notnull  dflt_value  pk
      // ---  -------------  -------  -------  ----------  --
      // 0    musicScene_ID  INTEGER  0                    1 
      // 1    scene_ID       INT      0                    0 
      // 2    song_ID        INT      0                    0 
      // 3    orderBy        INT      0                    0 
      // 4    volume         INTEGER  0                    0 
      const tblColumns = ['musicScene_ID','scene_ID', 'song_ID','orderBy','volume']
      primeKey = tblColumns[0]
      new gridjs.Grid({
        columns: [
          { id: tblColumns[0],name: 'musicScene_ID', 'hidden': true },
          { id: tblColumns[1], name: 'Scenes', sort: false,
            formatter: function (cellData, row) { 
              const selectedValue = cellData
              const select = document.createElement("select");
              sceneDD.populateDropdown(select)
              select.name = "scenes"
              select.id = "selectSceneOpt_" + row.cells[1].data.toString() + "_ID_" + row.cells[0].data.toString()           
              select.setAttribute("onchange","sceneChange()")
              select.childNodes.forEach((node) => { 
                if(parseInt(node.value)===parseInt(row.cells[1].data)){
                  node.outerHTML = node.outerHTML.toString().replace("<option","<option selected")
                }
              });
              return gridjs.html(select.outerHTML);
              } 
           },
          { id: tblColumns[2], name: 'Song' , sort: false,
            formatter: function (cellData, row) { 
              const selectedValue = cellData
              const selectSong = document.createElement("select");
              songDD.populateDropdown(selectSong)
              selectSong.name = "typeModel"
              selectSong.id = "selectSongOpt_" + row.cells[2].data.toString() + "_ID_" + row.cells[0].data.toString()           
              //console.log(row.cells[1].data.toString())
              selectSong.setAttribute("onchange","songChange()")
              selectSong.childNodes.forEach((node) => { 
                if(parseInt(node.value)===parseInt(row.cells[2].data)){
                  node.outerHTML = node.outerHTML.toString().replace("<option","<option selected")
                }
              });
              return gridjs.html(selectSong.outerHTML);
              } 
          },
          { id: tblColumns[3], name: 'orderBy','attributes': editableCellAttributes},
          { id: tblColumns[4], name: 'Volume 0-100', sort: false,'attributes': editableCellAttributes},
          {id: 'dlete', name: 'Delete' , sort: false,
          formatter: function (cellData, row) { 
              const selectedValue = cellData
              const dlete = document.createElement("input");
              dlete.name = "Dlete"
              dlete.id = "Dlete"+ "_ID_" + row.cells[0].data.toString()
              dlete.setAttribute("type","submit")           
              dlete.setAttribute("onclick","dlete()")
              dlete.setAttribute("value","Delete")
              dlete.className = "btn btn-primary";
              return gridjs.html(dlete.outerHTML);
              } 
          },
        ],
        server: {
          url: '/api/musicScene',
          then: results => results.data,
          total: results => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = tblColumns;
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },
      }).render(tableDiv);

      let savedValue;

      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            saveChange(JSON.stringify({[primeKey]: ev.target.dataset.elementId,[ev.target.dataset.columnId]: ev.target.textContent
              }))
          }
          savedValue = undefined;
        }
      });

      function saveChange(json){
        //console.log(json)
        fetch('/api/musicScene', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: json,
            });
      }

      function sceneChange(){
        var ev = event.target;
        id = ev.id.split("_ID_")
        if(ev.id.toString().includes("selectSceneOpt_")){
          jsn = {[primeKey]:id[1],scene_ID:ev.value}
          console.log(JSON.stringify(jsn))
          saveChange(JSON.stringify(jsn))
          //console.log("Selected " + ev.value);
        }
      }

      function songChange(){
        var ev = event.target;
        id = ev.id.split("_ID_")
        console.log("hi" + id)
        if(ev.id.toString().includes("selectSongOpt_")){
          jsn = {[primeKey]:id[1],song_ID:ev.value}
          console.log(JSON.stringify(jsn))
          saveChange(JSON.stringify(jsn))
          //console.log("Selected " + ev.value);
        }
      }


      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });
      function dlete(){
        var ev = event.target;
        id = ev.id.split("_ID_")
        if(ev.id.toString().includes("Dlete_")){
          jsn = {[primeKey]:id[1]}
          console.log(JSON.stringify(jsn))
        if (confirm('Are you sure you want to DELETE?')) {
            jsn = {[primeKey]:id[1]}
            console.log(JSON.stringify(jsn))
            fetch('/api/musicScenedelrow', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(jsn),
            });
            window.location.reload();
        } else {
          // Do nothing!
          console.log('Thing was not saved to the database.');
        }
          //saveChange(JSON.stringify(jsn))
          //console.log("Selected " + jsn);
        }
      }

    </script>
  </body>
  {% endblock %}
